@media only screen and (min-width: 1080px)
{

}

@media only screen and (max-width:600px){
/* INDEX HTML */
  header {
    overflow: visible;
  }
  .logo {
    height:60px;
    width:150px;
  }
  .call1, .call2, .call3, .call4  {
    justify-content: center;
    margin-bottom: 4px;
    padding:7px;
    font-size: 14px;
  }
  .Profile {
    width:224px;
    height:174px;
    top:-30px;
  }
   section {
     display:flex;
     flex-wrap:wrap;
     flex-direction:column;
   }
   .column1 {order:1;}
   .column2 {order:3;}
   .column3 {order:5;}
   .col4 {order:2;}
   .col5 {order:4;}
   .col6 {order:6;}

  /* ABOUT HTML */
  .allison {
    width:200px;
    height:200px;
    top:-50px;
  }

  /* CONTACT HTML */
  .leftFormArea {
    width:100%;
    margin-right: 25px;
  }
  .rightFormArea {
    width:100%;
    text-align: center;
  }

  /* PORTFOLIO HTML */
  .portfolio {
    text-align: center;
  }
  .webAd {
    width: 100%;
    height: 70%;
  }
  .branding-container {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-around;
  }

  #brand1 {width:100%;text-align: center;}
  #brand1 img {width:50%}
  #brand2 {width:100%;text-align: center;margin-bottom: 20px;}
  #brand2 img {width:50%}
  #brand3 {width:100%;}
  #brand4 {width:100%;}

  .branding-container img {width:100%;}
}
