* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #E2E1DC;
}

.call1, .call2, .call3, .call4 {
  text-align: center;
  position: relative;
  color:white;
  background-color:#282828;
  margin-top: 10px;
  margin-left: 40px;
  padding:8px;
}

.img img{
  position: relative;
  padding-top: 25px;
  margin-left: 10px;
  padding-left: 25px;
}

/*
.callButton {
  margin-top:10px;
  margin-right: 300px;
  margin-left:300px;
  padding:10px;
}
*/

/* Style the header */
.header {
    font-family: Futura;
    background-color: #FFFFFF;
    border-radius: solid black;
    color:#282828;
    position: relative;
    padding: 25px;
    margin-top: 25px;
    margin-left: 40px;
    text-align: right;
}

/* Create three equal columns that floats next to each other */
.column {
    font-family: Dolce Vita;
    float:left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: normal;
    display: table;
    clear: both;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  style: center;
}

.portfolioHeader {
  font-family: Futura;
  padding-left: 40px;
}

.Profile {
  float:right;
  display:block;
  width: 100px;
  height: 100px;
  margin-right: 25px;
  padding-right: 45px;
}

/*Girl on laptop image*/

#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style the footer */
.footer {
    font-family: Futura;
    background-color: #282828;
    color:white;
    padding: 5px;
    text-align: center;
}

.paragraphContent {
  color:#E2E1DC;
}

nav hover{
  color: white;
}


/*list_styles*/
  nav ul li {
    list-style-type: none;
    float: left;
  }

  nav ul li a:hover{
    color:white;
  }

background-image: URL (https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)


  .col1, .col2, .col3 {
    style: center;
    color: black;
    height: 100px;
    /*display: inline-flex;*/
    /*margin:10px;*/
    width:33%;
  }

.paragraphContent {
  padding:10px;
  font-family: Futura;
  margin:25px;
}

.paragraphContent2 {
  padding:10px;
  font-family: Futura;
  margin:25px;
}

.paragraphContent3 {
  padding:10px;
  font-family: Futura;
  margin:25px;
}


a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
