header {
  box-sizing: border-box;
  height:150px;
  overflow: hidden;
}

.logo {
  width: 200px;
  height:80px;
  float:left;
  margin-left: 25px;
  margin-top: 25px;
}

.Profile {
  width: 200px;
  height: 150px;
  float:right;
  display:block;
  margin-right: 25px;
  margin-top:15px;
}

.callButton {
  float:right;
  padding-top: 35px;
  text-align: center;
}


body {
    width:100%;
    margin: 0px;
    background-color: #E2E1DC;
}

.call1, .call2, .call3, .call4 {
  text-align: center;
  position: relative;
  color:white;
  background-color:#282828;
  margin-top: 10px;
  margin-left: 5px;
  padding:8px;
}

/*
.img img{
  position: relative;
  padding-top: 25px;
  margin-left: 10px;
  padding-left: 25px;
}
*/

/*
.callButton {
  margin-top:10px;
  margin-right: 300px;
  margin-left:300px;
  padding:10px;
}
*/

/* Style the header */
.header {
    font-family: Futura;
    background-color: #FFFFFF;
    border-radius: solid black;
    color:#282828;
    position: relative;
    padding: 25px;
    margin-top: 0px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
}

/* Create three equal columns that floats next to each other */
.column {
    box-sizing: border-box;
    font-family: Dolce Vita;
    float:left;
    width: 32%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: normal;
    display: table;
    clear: both;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  style: center;
}

.portfolioHeader {
  font-family: Futura;
  padding-left: 40px;
}



/*Girl on laptop image*/

#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style the footer */
.footer {
    font-family: Futura;
    background-color: #282828;
    color:white;
    padding: 5px;
    text-align: center;
}

nav hover{
  color: white;
}

nav {
  margin-left: 25px;
  margin-right:25px;
  margin-bottom: 25px;
}

nav ul {
  margin:0px;
}


/*list_styles*/
  nav ul li {
    list-style-type: none;
    float: left;
  }

  nav ul li a:hover{
    color:white;
  }

background-image: URL (https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)


  .col1, .col2, .col3 {
    style: center;
    color: black;
    height: 100px;
    /*display: inline-flex;*/
    /*margin:10px;*/
    width:33%;
  }

.paragraphContent {
  color:black;
  padding:10px;
  padding-top:35px;
  font-family: Futura;
  margin-left:25px;
  margin-right: 25px;
  margin-top: 35px;
  clear:left;
}

.paragraphContent2 {
  padding:10px;
  font-family: Futura;
  margin:25px;
}

.paragraphContent3 {
  padding:10px;
  font-family: Futura;
  margin:25px;
}


a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

  /* Nick's code */

section {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px auto;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin-left: 25px;
    margin-right: 25px;
  }

section div {

}

.column1, .column2, .column3, .column4 {
  font-family: Futura;
  background-color: white;
  padding: 25px;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:80%;
}

input[type=text] {
  width:90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
